# Игнорировать временные файлы, созданные текстовым редактором
*~

# Игнорировать файлы с расширением .log
*.log

# Игнорировать каталог node_modules
node_modules/

# Игнорировать файл .env, который содержит конфиденциальные данные
.env